accelerate==1.7.0
datasets
flash-attn==2.7.4.post1
liger-kernel==0.6.1
numpy
omegaconf
pandas
peft==0.16.0
pillow
pyarrow==20.0.0
pylatexenc
qwen-vl-utils
ray==2.48.0
torch==2.6.0
transformers==4.51.3
vllm==0.8.4
wandb
